---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="SINCROS ADMIN PAGE">
	<main>
		<a href="https://sincrosav.com/">
			<img src="/LogoSincro.svg" alt="" class="m-auto">
			<h1 class="text-5xl font-bold text-center mb-7 font-neuropol">SINCROS AV ADMIN</span></h1>
		</a>
		
		<ul role="list" class="link-card-grid grid grid-cols-2 gap-8 p-0">
			<Card
				href="https://panel.streamingpro.es/ui/"
				title="STREAMING HUB"
				body="Gestión y distribución de contenidos en streaming."
			/>
			<Card
				href="https://proxy.streamingpro.es/"
				title="Nginx Proxy Manager"
				body="Gestión de proxys y redirecciones."
			/>
			<Card
				href="https://firefly.streamingpro.es/"
				title="Firefly"
				body="Gestión de finanzas personales."
			/>
			<Card
				href="https://sincrosav.odoo.com/odoo?cids=1"
				title="Odoo"
				body="Gestión de clientes y facturación."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


</style>
